*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --black: #13171a;
  --light-black: #303335;
  --green: #00ba6c;
  --red: #d74038;
  --yellow: #fcd03e;
  --blue: #2718de;
  --light-green: #00ba6c79;
  --select-border: #777;
  --light-gray: rgb(138, 138, 138);
  --select-focus: blue;
  --select-arrow: var(--select-border);
  --rounded-border: 999999999px;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--white);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  max-width: 30rem;
  width: 100%;
}

section {
  overflow: hidden;
}

.flex {
  display: flex;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-col {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.grid {
  display: grid;
}

.container {
  margin: auto;
  max-width: 82rem;
  padding: 0 1.5rem;
}

.rotate {
  transform: rotate(180deg);
}

/*---------------------------------------------------- 
Header Area
----------------------------------------------------*/

header {
  background-color: var(--black);
  position: relative;

  .wrapper {
    padding: 1.5rem 0;

    img {
      width: 15rem;
    }
  }

  .padding {
    display: block;
    width: 100%;
    height: 2rem;
    background-color: var(--light-black);
  }
}

.hidden {
  display: none !important;
}

/*---------------------------------------------------- 
Main Area
----------------------------------------------------*/
main {
  padding: 3rem 0;

  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  h1 {
    color: var(--green);
  }

  .left-content {
    .label {
      display: flex;
      justify-content: space-between;
      border: 1px solid rgb(197, 197, 197);
      padding: 0.6rem 1rem;
      gap: 0.6rem;
      min-width: 12rem;
      border-radius: 10px;
      cursor: pointer;
      h3 {
        display: block;
      }
    }

    .arrow {
      @extend .flex-center;
    }

    svg {
      transition: 0.3s ease-in-out;
    }

    ul {
      border: 1px solid transparent;
      border-radius: 12px;
      margin-top: 0.5rem;
      overflow: hidden;
      display: grid;
      max-height: 0;
      height: 100%;
      transition: 0.3s ease-in-out;
      li {
        padding: 0.7rem 1rem;
        font-size: 1.2rem;
        font-weight: 400;
        cursor: pointer;
      }

      .active {
        background-color: var(--light-green);
      }
    }

    .heightwidth {
      border: 1px solid rgba(184, 184, 184, 0.548);
      max-height: 220px;
      width: unset;
      transition: 0.3s ease-in-out;
    }
  }
  // Overview
  .overview {
    display: grid;
    gap: 2rem;
    .top-content {
      .paras {
        margin-top: 1.2rem;
        display: grid;
        gap: 1rem;
        font-size: 1.1rem;
      }
    }

    .bottom-content {
      h2 {
        color: var(--light-black);
      }

      .items {
        margin-top: 1.5rem;
        display: grid;
        gap: 2rem;

        .item {
          display: grid;
          gap: 1rem;

          img {
            min-width: 3.5rem;
            max-width: 5rem;
            width: 100%;
          }

          .content {
            padding: 1rem;
            border-radius: 20px;
            box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.15);
            -webkit-box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.15);
            -moz-box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.15);

            .top {
              display: grid;
              gap: 1.2rem;
            }

            .content-left {
              display: flex;
              flex-direction: column;
              gap: 1.2rem;
            }

            .date,
            .twiks {
              color: var(--light-gray);
              font-size: 0.95rem;
            }

            .twiks {
              a {
                color: var(--blue);
                font-weight: 600;
              }
            }
            .texts {
              display: flex;
              flex-direction: column;
              max-width: 100%;
              gap: 0.4rem;
            }

            .buttons {
              display: flex;
              gap: 1rem;
              justify-content: center;
              align-items: center;
              justify-content: flex-end;
            }

            p {
              font-weight: 400;
              font-size: 1.1rem;
            }

            .bull,
            .bear,
            .blue {
              text-transform: uppercase;
              font-weight: 700;
            }

            .bull,
            .green {
              color: var(--green);
            }

            .bear,
            .red {
              color: var(--red);
            }

            .blue {
              color: var(--blue);
            }

            .plus,
            .star,
            .arrow {
              display: flex;
              align-items: center;
              justify-content: center;
              cursor: pointer;
              transition: 0.3s ease-in-out;

              svg {
                width: 1.4rem;
                height: 1.4rem;
                transition: 0.3s ease-in-out;
                color: rgba(99, 99, 99, 0.925);
              }
            }

            .plus {
              height: 1.4rem;
              width: 1.4rem;
              border-radius: var(--rounded-border);
              border: 2px solid rgba(99, 99, 99, 0.342);

              svg {
                width: 0.9rem;
                height: 0.9rem;
                color: rgba(99, 99, 99, 0.925);
              }

              &::hover {
                border: 2px solid rgb(255, 0, 0);
                color: rgba(99, 99, 99, 0.342);
              }
            }

            .star {
              .star-one {
                color: var(--light-gray);
              }
              .star-two {
                color: var(--yellow);
              }
            }
          }

          .bottom {
            display: grid;
            gap: 0.5rem;
            max-height: 0;
            transition: 0.5s ease-in-out;
            overflow: hidden;
            p {
              font-size: 0.9rem;
            }
          }

          .bottom.height {
            margin-top: 1.5rem;
            max-height: 80px;
            visibility: visible;
          }

          .form {
            overflow: hidden;
            max-height: 0;

            transition: 0.4s ease-in-out;
            opacity: 0;

            .heading {
              position: relative;

              .cross {
                @extend .flex-center;
                position: absolute;
                right: 0;
                top: 0;
                cursor: pointer;

                svg {
                  height: 1.2rem;
                  width: 1.2rem;
                }
              }
            }

            .inputs {
              display: grid;
              grid-template-columns: repeat(2, minmax(0, 1fr));
              margin-top: 2rem;
              flex-wrap: wrap;
              gap: 0.6rem;
            }

            input,
            textarea,
            select {
              width: 100%;
              height: 2rem;
              border-radius: 4px;
              border: 1px solid var(--light-gray);
              padding: 0 0.4rem;
              font-weight: 400;

              &:focus {
                outline: none;
                border: 1px solid var(--green);
                border-radius: 4px;
              }
            }

            select {
              -webkit-appearance: none;
              -moz-appearance: none;
              appearance: none;
            }

            .select {
              position: relative;
              .arrow {
                @extend .flex-center;
                position: absolute;
                right: 0.4rem;
                top: 50%;
                transform: translateY(-50%);
              }
            }

            textarea {
              padding-top: 0.5rem;
              resize: vertical;
            }

            label {
              display: flex;
              align-items: center;
            }
            /* Chrome, Safari, Edge, Opera */
            input::-webkit-outer-spin-button,
            input::-webkit-inner-spin-button {
              -webkit-appearance: none;
              margin: 0;
            }

            /* Firefox */
            // input[type="number"] {
            //   -moz-appearance: textfield;
            // }

            .input-field {
              flex-basis: 1;
              display: flex;
              flex-direction: column;
              gap: 0.5rem;
            }
          }

          .form.height {
            max-height: 394px;
            padding: 2rem;
            opacity: 1;
            box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.2);
            -webkit-box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.2);
            -moz-box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.2);
            border-radius: 10px;
          }
        }
      }
    }
  }

  // Filter
  .filter {
    .heading {
      span {
        font-size: 1.25rem;
        font-weight: 700;
      }
    }

    .content {
      display: grid;
      gap: 4rem;
    }

    .ranges {
      margin-top: 2rem;
      padding: 2rem 1.5rem;
      max-width: 35rem;
      box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.2);
      -webkit-box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.2);
      border-radius: 15px;

      .range {
        color: var(--light-gray);
        font-size: 0.95rem;
      }

      .items {
        display: grid;
        gap: 0.8rem;
      }

      ::selection {
        color: #fff;
        background: #17a2b8;
      }
      .wrapper {
        width: 400px;
        background: #fff;
        border-radius: 10px;
        box-shadow: 0 12px 35px rgba(0, 0, 0, 0.1);
      }
  
      .range {
        display: flex;
        gap: 1rem;
        justify-content: space-between;
      }
      .field input {
        width: 100%;
        height: 100%;
        outline: none;
        font-size: 19px;
        border-radius: 5px;
        text-align: center;
        border: 1px solid #999;
        -moz-appearance: textfield;
      }
      input[type="number"]::-webkit-outer-spin-button,
      input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
      }

      .slider {
        margin-top: 1rem;
        height: 4px;
        position: relative;
        background-color: #00ba6c50;
        border-radius: 5px;
      }
      .slider .progress {
        height: 100%;
        left: 25%;
        right: 25%;
        position: absolute;
        border-radius: 5px;
        background: black;
      }
      .range-input {
        position: relative;
      }
      .range-input input {
        position: absolute;
        width: 100%;
        height: 5px;
        top: -5px;
        background: none;
        pointer-events: none;
        -webkit-appearance: none;
        -moz-appearance: none;
      }
      input[type="range"]::-webkit-slider-thumb {
        height: 14px;
        width: 14px;
        border-radius: 50%;
        background: black;
        pointer-events: auto;
        -webkit-appearance: none;
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
      }
      input[type="range"]::-moz-range-thumb {
        height: 17px;
        width: 17px;
        border: none;
        border-radius: 50%;
        background: #17a2b8;
        pointer-events: auto;
        -moz-appearance: none;
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
      }
    }

    .checkbox {
      span {
        display: flex;
        font-size: 1.08rem;
      }
      ul {
        margin-left: 1.6rem;
        margin-top: 0.5rem;
        font-size: 1.08rem;
        li {
          list-style: disc;
        }
      }

      .bottom-content {
        margin-top: 3rem;
        max-width: 35rem;
        width: 100%;
        padding: 2rem 1.5rem;
        border-radius: 10px;
        box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.2);
        -webkit-box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.2);
        .items {
          display: grid;
          gap: 2rem;

          .item {
            span {
              text-transform: capitalize;
            }
            .boxs {
              margin-top: 0.5rem;
              display: grid;
              gap: 0.4rem;

              .box {
                margin-left: 0.1rem;
                display: flex;
                gap: 0.5rem;

                input,
                label {
                  cursor: pointer;
                }
                input {
                  background-color: #2196f3;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 400px) {
  main {
    .overview .bottom-content {
      .items {
        .item {
          p {
            font-weight: 400;
            font-size: 1.25rem;

            .buttons {
              gap: 1rem;
            }
          }

          .form {
            .inputs {
              display: grid;
              grid-template-columns: repeat(3, minmax(0, 1fr));
            }
          }

          .form.height {
            max-height: 300px;
          }
        }
      }
    }
  }
}
@media (min-width: 640px) {
  main {
    .overview .bottom-content {
      .items {
        .item {
          .content {
            .top {
              p {
                font-weight: 400;
                font-size: 1.25rem;
              }
            }

            .content-left {
              flex-direction: row;
              gap: 1.2rem;
            }
            .logo {
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }

          .form {
            .inputs {
              display: grid;
              grid-template-columns: repeat(4, minmax(0, 1fr));
            }
          }

          .bottom.height {
            max-height: 50px;
          }

          .form.height {
            max-height: 250px;
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  main {
    .wrapper {
      flex-direction: row;
    }
    .overview .bottom-content {
      .items {
        .item {
          .content {
            .top {
              display: flex;
              justify-content: space-between;
              p {
                font-weight: 400;
                font-size: 1.25rem;
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  main {
    .overview .bottom-content {
      .items {
        .item {
          .form {
            .inputs {
              grid-template-columns: repeat(5, minmax(0, 1fr));
            }
          }
        }
      }
    }
  }
}
@media (min-width: 1280px) {
  main {
    .wrapper {
      flex-direction: row;
    }
    .overview .bottom-content {
      .items {
        .item {
          .form {
            .inputs {
              display: flex;

              .input-field {
                flex: 1 1 0;
              }
            }
          }
        }
      }
    }
  }
}
